<div class="container">
    <br>
    <mat-card>
      <section class="mat-typography">
        <h2>Contact</h2>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Name" formControlName="name" #name>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Email" formControlName="email" #email>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Subject" formControlName="subject" #subject>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <textarea matInput placeholder="Message" formControlName="message" #message></textarea>
        </mat-form-field>
        
        <br><br>
        <button type="submit" (click)="onContactSubmit(name.value, email.value, subject.value, message.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Send</button>
      </form>
    </mat-card>
  </div>