<div class="top-content">
  <br>
  <br>
  <h2>About SLUS Sports</h2>
  <p>
    SLUS Sports offers a free and creative platform for aspiring authors, entrepreneurs, and sports fanatics.
  </p>
  <p>Love,</p>
  <p>The Writers</p>
</div>
<div class="writers-section">
  <h3>The Writers</h3>
  <div class="writers flex-container">
    <div class="writer-portrait"><img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>
    <div class="writer-portrait"><img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>
    <div class="writer-portrait"><img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>
  </div>
</div>