
<div class="container" *ngIf="article">
  <br><br>
  <blockquote class = "blockquote bq-primary">
  <h1>{{article.title}}</h1>
  <br>
  <h4>by {{article.author}}</h4>
  <br>
  <br>
  <img class="main-image" src="{{article.imageURL}}" alt="Image not found"> </blockquote>
  <br>
  <hr>
  <br>
  <pre style="white-space:pre-wrap;">{{article.content}}</pre>
  <br>
  <hr>
  <br>
  <form [formGroup]="commentForm" class="comment-form">
    <mat-form-field class="comment-field">
      <textarea matInput formControlName="comment" placeholder="Leave a comment" #comment></textarea>
    </mat-form-field>
    <button mat-button type="submit" (click)="addComment(comment.value)">Submit</button>
  </form>
  <br>
  <br>
  <h4>Comments:</h4>
  <br>
  <div *ngFor="let comment of comments">
    <mat-card class="mb-4"><strong>{{comment.username}}: </strong>{{comment.msg}}</mat-card>
  </div>
  <br><br>
</div>