<meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="When Great Minds Don’t Think Alike" />
<meta property="og:description"        content="How much does culture influence creative thinking?" />
<meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

<div class="container">
  <br><br>
  <blockquote class = "blockquote bq-primary">
  <h1>{{article.title}}</h1>
  <br>
  <h4>by {{article.author}}</h4>
  <br>
  <br>
  <img class="main-image" src="{{article.imageURL}}" alt="Image not found"> </blockquote>
  <br>
  <hr>
  <br>
  <pre style="white-space:pre-wrap;">{{article.content}}</pre>
  <br>
  <hr>
  <br>
  <form [formGroup]="commentForm" class="comment-form">
    <mat-form-field class="comment-field">
      <textarea matInput formControlName="comment" placeholder="Leave a comment" #comment></textarea>
    </mat-form-field>
    <button mat-button type="submit" (click)="addComment(comment.value)">Submit</button>
  </form>
  <br>
  <br>
  <h5>Comments:</h5>
  <div *ngFor="let comment of comments">
    <li><strong>{{comment.username}}: </strong>{{comment.msg}}</li>
  </div>
  <br><br>
</div>